{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'base/header.html' %}
<body>

  <!--navbar start-->
{% include 'base/navbar.html' %}
  
  <!--navbar end-->

  <!-- header section -->
          {% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{message.tags}}" role="alert">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
 


  <!-- banner section -->

  {% block content %}

  {% endblock %}

  <!-- start footer Area -->
  

  <!-- JS FILES -->


{% include 'base/js.html' %}
</body>

</html>