#ban {
  background-image: url("../img/slider_3.jpg");
  height: 600px;
}
#ban .primary-overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 600px;
}
#ban .width {
  width: 80%;
  margin-top: 300px;
}
#ban .width h3 {
  font-size: 45px;
  text-transform: uppercase;
}
#ban .width form {
  padding: 10px;
  background: #81818175;
  border-color: #00000075;
  -webkit-border-radius: 0px;
  border-radius: 2px;
  width: 100%;
}
#ban .width form .row {
  height: 50px;
  margin: 0px;
}
#ban .width form .row input {
  width: 100%;
  height: 50px;
}
#ban .width form .row div {
  padding: 0px;
}
#ban .width form .row div button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #ffffff;
  box-shadow: none;
  letter-spacing: 1px;
  background: #138496;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
#ban .width form .row div button:hover {
  color: #138496;
  background: white;
  border: 4px solid #138496;
}

.design {
  text-align: center;
  border-radius: 3px;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
  padding: 20px 0;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.design:hover {
  border: 2px solid #138496;
}

.photo-box {
  border-radius: 4px;
  height: 340px;
  display: block;
  position: relative;
  background-size: cover;
  background-position: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  margin: 0 0 25px;
}

.photo-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333;
  opacity: 0.5;
  border-radius: 4px;
  transition: 0.4s;
}

.photo-box-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.photo-box-content h3 {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}

.photo-box-content span {
  color: #333;
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 10px;
  line-height: 20px;
  margin-top: 8px;
  display: inline-block;
}

.photo-box:hover {
  box-shadow: 0 4px 12px rgba(42, 65, 232, 0.25);
  transform: translateY(-10px);
}
.photo-box:hover h3 {
  color: white;
}
.photo-box:hover span {
  background: #138496;
  color: white;
}

.photo-box:hover:before {
  background: #33b6cb;
  opacity: 0.5;
}
.footer-area {
  background: -moz-linear-gradient(rgba(46, 45, 47, 0.87), rgba(7, 7, 7, 0.86)),
    url(../img/intro.jpeg);
  background: -webkit-linear-gradient(
      rgba(46, 45, 47, 0.87),
      rgba(7, 7, 7, 0.86)
    ),
    url(../img/intro.jpeg);
  background: -ms-linear-gradient(rgba(46, 45, 47, 0.87), rgba(7, 7, 7, 0.86)),
    url(../img/intro.jpeg);
  background: linear-gradient(rgba(46, 45, 47, 0.87), rgba(7, 7, 7, 0.86)),
    url(../img/intro.jpeg);
  position: relative;
  z-index: 1;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}
.bg-gray {
  background: #f0f0f0;
}

/*--------------------------------------------------------------
# Post List Or Job List CSS
--------------------------------------------------------------*/

.post-list .cat-list {
  text-align: right;
  margin-bottom: 20px;
}

.post-list .cat-list li {
  text-align: center;
  margin-right: 10px;
  width: 100px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 5px 10px;
}

.post-list .cat-list li a {
  text-transform: capitalize;
  font-weight: 600;
  color: #222;
}

.post-list .cat-list li:hover {
  background-color: #33b6cb;
}

.post-list .cat-list li:hover a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 414px) {
  .post-list .cat-list {
    text-align: center;
    padding-left: 8px;
  }
  .post-list .cat-list li {
    margin-bottom: 10px;
    font-size: 13px;
  }
}

.post-list .single-post {
  padding: 30px;
  background-color: #f9f9ff;
  margin-bottom: 30px;
}

.post-list .single-post h6 {
  margin-top: 10px;
  color: #222;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}

@media (max-width: 414px) {
  .post-list .single-post h6 {
    font-size: 10px;
  }
}

.post-list .single-post h5 {
  color: #222;
  font-weight: 300;
  margin-bottom: 15px;
}

.post-list .single-post .address {
  color: #222;
  margin-bottom: 15px;
}

.post-list .single-post .btns li {
  display: inline-block;
  background-color: #f0f0f0;
  border: 1px solid #33b6cb;
  border-radius: 2px;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.post-list .single-post .btns li i,
.post-list .single-post .btns li a {
  text-transform: none;
  font-weight: 500;
  color: #222;
}

.post-list .single-post .btns li:hover {
  background-color: #33b6cb;
  text-decoration: none;
}

.post-list .single-post .btns li:hover a,
.post-list .single-post .btns li:hover i {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 414px) {
  .post-list .single-post .btns li {
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 60px;
  }
}

.post-list .single-post .thumb .tags {
  margin-top: 30px;
}

.post-list .single-post .thumb .tags li {
  margin-bottom: 5px;
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  padding: 6px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.post-list .single-post .thumb .tags li a {
  color: #777777;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.post-list .single-post .thumb .tags li:hover {
  background-color: #33b6cb;
}

.post-list .single-post .thumb .tags li:hover a {
  color: #fff;
}

@media (max-width: 736px) {
  .post-list h4 {
    font-size: 16px;
  }
  .post-list .btns a {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .post-list .single-post.flex-row {
    flex-direction: column !important;
    display: inline-block !important;
  }
  .post-list .title.flex-row {
    flex-direction: column !important;
    display: inline-block !important;
  }
  .post-list .details {
    margin-top: 20px;
  }
}

.post-list .loadmore-btn {
  text-align: center;
  background-color: transparent;
  color: #33b6cb;
  border: 1px solid;
  padding: 8px 15px;
  margin-top: 60px;
  max-width: 200px;
  font-weight: 600;
}

.post-list .loadmore-btn:hover {
  background: #33b6cb;
  color: #fff;
  text-decoration: none;
}
.thumb {
  padding-right: 30px;
}

.job-listing-footer {
  background-color: transparent;
  padding: 0;
  margin-top: 3px;
}
.job-listing-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.job-listing-footer ul li {
  display: inline-block;
  margin-right: 14px;
  color: #777;
}

/* =================================== */
/*  Sidebar CSS
/* =================================== */

.sidebar .owl-carousel .owl-item img {
  width: auto !important;
}

.sidebar .owl-dots {
  text-align: center;
  bottom: 5px;
  margin-top: 20px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sidebar .owl-dot {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar .owl-dot.active {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #33b6cb;
}

.sidebar .single-slidebar {
  background-color: #f9f9ff;
  padding: 30px 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
}

.sidebar .single-slidebar h4 {
  margin-bottom: 20px;
}

.sidebar .single-slidebar .cat-list li {
  padding: 0px 10px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar .single-slidebar .cat-list li:hover a {
  color: #33b6cb;
  text-decoration: none;
}

.sidebar .single-slidebar .cat-list p {
  margin-bottom: 0;
}

.sidebar .single-slidebar .cat-list a {
  color: #777;
  padding: 10px;
  margin-bottom: 10px;
}

.sidebar .single-rated img {
  margin-bottom: 20px;
}

.sidebar .single-rated h4 {
  margin-bottom: 8px;
}

.sidebar .single-rated h6 {
  font-weight: 300;
  margin-bottom: 10px;
}

.sidebar .single-rated h5 {
  font-weight: 300;
  margin-bottom: 5px;
}

.sidebar .single-rated .address {
  color: #222;
  margin-bottom: 8px;
}

.sidebar .single-rated .btns {
  background-color: #33b6cb;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar .single-rated .btns:hover {
  background-color: transparent;
  border-color: #33b6cb;
  color: #33b6cb;
}

.sidebar .single-blog {
  background-size: cover !important;
  padding: 0px 20px;
  margin-bottom: 30px;
}

.sidebar .single-blog:last-child {
  margin-bottom: 0px;
}

.sidebar .single-blog h4 {
  color: #fff;
  padding-top: 20px;
}

.sidebar .single-blog .meta p {
  color: #fff;
}

/*--------------------------------------------------------------
# Call to Action CSS
--------------------------------------------------------------*/

/* .callto-action-area .primary-btn {
  margin: 10px;
  text-transform: capitalize;
  border-radius: 0;
  background-color: transparent;
  color: #33B6CB;
  border: 1px solid;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.callto-action-area .primary-btn:hover {
  background-color: #33B6CB;
  color: #fff;
  border-color: transparent;
}

.callto-action-area .overlay-bg {
  background: rgba(4, 9, 30, 0.6);
} */

.footer-section {
  padding: 75px 0 50px 0;
}

.footer-area .footer-nav li {
  margin-top: 8px;
  list-style: none;
}

.footer-area .footer-nav li a {
  color: #fff;
}

.footer-area .footer-nav li a:hover {
  color: #33b6cb;
}

.footer-area .primary-btn {
  background-color: #33b6cb;
  line-height: 40px;
  display: block;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 0;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.footer-area .primary-btn:focus {
  outline: none;
}

.footer-area .primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-area .primary-btn:hover {
  background-color: #33b6cb;
  box-shadow: none;
  color: #fff;
}

.footer-area .primary-btn:hover span {
  color: #fff;
  right: 20px;
}

.footer-area .primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.footer-area .primary-btn.white span {
  color: #fff;
}

.footer-area .primary-btn.white:hover {
  background: #fff;
  color: #33b6cb;
}

.footer-area .primary-btn.white:hover span {
  color: #33b6cb;
}

.footer-area h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.copy-right-text i,
.copy-right-text a {
  color: #33b6cb;
}

.instafeed {
  margin: -5px;
}

.instafeed li {
  overflow: hidden;
  width: 25%;
}

.instafeed li img {
  margin: 5px;
}

.footer-social {
  text-align: right;
}

.footer-social a {
  background: transparent;
  width: 20px;
  border: 1px solid #33b6cb;
  width: 40px;
  display: inline-table;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-social a:hover {
  background-color: #33b6cb;
}

.footer-social a:hover i {
  color: #fff;
}

.footer-social i {
  color: #33b6cb;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .footer-social {
    text-align: left;
    margin-top: 20px;
  }
}

.single-footer-widget {
  color: #fff;
}

.single-footer-widget p {
  color: #fff;
  padding-bottom: 10px;
}

.single-footer-widget input {
  line-height: 38px;
  border: none;
  background: #fff;
  font-weight: 300;
  color: #777;
  padding-left: 20px;
}

.single-footer-widget .bb-btn {
  background-color: #33b6cb;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  z-index: 9999;
  cursor: pointer;
}

@media (max-width: 960px) {
  .single-footer-widget .nw-btn {
  }
  .single-footer-widget .newsletter {
    padding-bottom: 40px;
  }
}

.single-footer-widget .info {
  position: absolute;
  margin-top: 122px;
  color: #fff;
  font-size: 12px;
}

.single-footer-widget .info.valid {
  color: green;
}

.single-footer-widget .info.error {
  color: red;
}

.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #33b6cb;
  color: #777777;
}

.single-footer-widget ::selection {
  background-color: #33b6cb;
  color: #777777;
}

.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

@media (max-width: 991.98px) {
  .single-footer-widget {
    margin-bottom: 70px;
  }
}

@media (max-width: 480px) {
  #ban {
    background-size: cover;
  }
  #ban .width {
    margin-top: 100px;
  }
}



/*--------------------------------------------------------------
# Post List Or Job List CSS
--------------------------------------------------------------*/

.post-list .cat-list {
  text-align: right;
  margin-bottom: 20px;
}

.post-list .cat-list li {
  text-align: center;
  margin-right: 10px;
  width: 100px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 5px 10px;
}

.post-list .cat-list li a {
  text-transform: capitalize;
  font-weight: 600;
  color: #222;
}

.post-list .cat-list li:hover {
  background-color: #33B6CB;
}

.post-list .cat-list li:hover a {
  color: #fff;
}

@media (max-width: 414px) {
  .post-list .cat-list {
    text-align: left;
  }
  .post-list .cat-list li {
    margin-bottom: 10px;
    font-size: 10px;
  }
}

.post-list .single-post {
  padding: 30px;
  background-color: #f9f9ff;
  margin-bottom: 30px;
}

.post-list .single-post h6 {
  margin-top: 10px;
  color: #222;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}

@media (max-width: 414px) {
  .post-list .single-post h6 {
    font-size: 10px;
  }
}

.post-list .single-post h5 {
  color: #222;
  font-weight: 300;
  margin-bottom: 15px;
}

.post-list .single-post .address {
  color: #222;
  margin-bottom: 15px;
}

.post-list .single-post .btns li {
  display: inline-block;
  background-color: #f0f0f0;
  border: 1px solid #eee;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.post-list .single-post .btns li i, .post-list .single-post .btns li a {
  text-transform: uppercase;
  font-weight: 500;
  color: #222;
}

.post-list .single-post .btns li:hover {
  background-color: #33B6CB;
}

.post-list .single-post .btns li:hover a, .post-list .single-post .btns li:hover i {
  color: #fff;
}

@media (max-width: 414px) {
  .post-list .single-post .btns li {
    margin-bottom: 5px;
  }
}

.post-list .single-post .thumb .tags {
  margin-top: 30px;
}

.post-list .single-post .thumb .tags li {
  margin-bottom: 5px;
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  padding: 6px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.post-list .single-post .thumb .tags li a {
  color: #777777;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.post-list .single-post .thumb .tags li:hover {
  background-color: #33B6CB;
}

.post-list .single-post .thumb .tags li:hover a {
  color: #fff;
}

@media (max-width: 736px) {
  .post-list h4 {
    font-size: 16px;
  }
  .post-list .btns a {
    font-size: 10px;
  }
}

@media (max-width: 414px) {
  .post-list .single-post.flex-row {
    flex-direction: column !important;
    display: inline-block !important;
  }
  .post-list .title.flex-row {
    flex-direction: column !important;
    display: inline-block !important;
  }
  .post-list .details {
    margin-top: 30px;
  }
}

.post-list .loadmore-btn {
  text-align: center;
  background-color: transparent;
  color: #33B6CB;
  border: 1px solid;
  padding: 8px 15px;
  margin-top: 60px;
  max-width: 200px;
  font-weight: 600;
}

.post-list .loadmore-btn:hover {
  background: #33B6CB;
  color: #fff;
}
.thumb{
  padding-right: 30px;
}

.job-listing-footer {
    background-color: transparent;
    padding: 0;
    margin-top: 3px;
}
.job-listing-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.job-listing-footer ul li {
    display: inline-block;
    margin-right: 14px;
    color: #777;
}




/* =================================== */
/*  Sidebar CSS
/* =================================== */



.sidebar .owl-carousel .owl-item img {
  width: auto !important;
}

.sidebar .owl-dots {
  text-align: center;
  bottom: 5px;
  margin-top: 20px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sidebar .owl-dot {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar .owl-dot.active {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #33B6CB;
}

.sidebar .single-slidebar {
  background-color: #f9f9ff;
  padding: 30px 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);

}

.sidebar .single-slidebar h4 {
  margin-bottom: 20px;
}

.sidebar .single-slidebar .cat-list li {
  padding: 0px 10px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar .single-slidebar .cat-list li:hover a {
  color: black;
}

.sidebar .single-slidebar .cat-list p {
  margin-bottom: 0;
}

.sidebar .single-slidebar .cat-list a {
  color: #777;
  padding: 10px;
  margin-bottom: 10px;
  
}

.sidebar .single-rated img {
  margin-bottom: 20px;
}

.sidebar .single-rated h4 {
  margin-bottom: 8px;
}

.sidebar .single-rated h6 {
  font-weight: 300;
  margin-bottom: 10px;
}

.sidebar .single-rated h5 {
  font-weight: 300;
  margin-bottom: 5px;
}

.sidebar .single-rated .address {
  color: #222;
  margin-bottom: 8px;
}

.sidebar .single-rated .btns {
  background-color: #33B6CB;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar .single-rated .btns:hover {
  background-color: transparent;
  border-color: #33B6CB;
  color: #33B6CB;
}

.sidebar .single-blog {
  background-size: cover !important;
  padding: 0px 20px;
  margin-bottom: 30px;
}

.sidebar .single-blog:last-child {
  margin-bottom: 0px;
}

.sidebar .single-blog h4 {
  color: #fff;
  padding-top: 20px;
}

.sidebar .single-blog .meta p {
  color: #fff;
}

/*--------------------------------------------------------------
# Call to Action CSS
--------------------------------------------------------------*/

.callto-action-area .primary-btn {
  margin: 10px;
  text-transform: capitalize;
  border-radius: 0;
  background-color: transparent;
  color: #33B6CB;
  border: 1px solid;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.callto-action-area .primary-btn:hover {
  background-color: #33B6CB;
  color: #fff;
  border-color: transparent;
}

.callto-action-area .overlay-bg {
  background: rgba(4, 9, 30, 0.6);
}

.add_job_content {
  box-shadow: 0 5px 15px 0 rgba(41,128,185,.1);
  -webkit-box-shadow: 0 5px 15px 0 rgba(41,128,185,.1);
  padding: 10px 0px 10px 0px;
}
.add_job_content .headline {
  display: block;
  padding: 20px 30px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}
.add_job_content .add_job_detail {
  display: block;
  padding: 20px 30px;
}
.submit-field {
  margin-bottom: 28px;
  display: block;
}
.submit-field h5 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}
input.with-border, input[type=text].with-border, input[type=password].with-border, input[type=email].with-border, input[type=number].with-border, textarea.with-border, select.with-border {
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  outline: none;
  font-size: 16px;
  color: gray;
  margin: 0 0 16px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  font-weight: 500;
  opacity: 1;
  border-radius: 4px;
}
.submit-field .input-group-text {
background: #fff !important;
}
.add_job_btn{
padding: 10px 0px 10px 30px;
}
.job_detail_btn {
  background: #33B6CB;
  color: #fff !important;
  padding: 6px 20px !important;
  text-transform: uppercase;
  border: 1px solid #33B6CB;
}
.job_detail_btn:hover {
  background: transparent;
  color: #33B6CB !important;
  border: 1px solid #33B6CB;
}


/*--------------------------------------------------------------
# Add Job Details Page CSS
--------------------------------------------------------------*/


.add_job_content {
  box-shadow: 0 5px 15px 0 rgba(41,128,185,.1);
  -webkit-box-shadow: 0 5px 15px 0 rgba(41,128,185,.1);
  padding: 10px 0px 10px 0px;
}
.add_job_content .headline {
  display: block;
  padding: 20px 30px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}
.add_job_content .add_job_detail {
  display: block;
  padding: 20px 30px;
}
.submit-field {
  margin-bottom: 28px;
  display: block;
}
.submit-field h5 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}
input.with-border, input[type=text].with-border, input[type=password].with-border, input[type=email].with-border, input[type=number].with-border, textarea.with-border, select.with-border {
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  outline: none;
  font-size: 16px;
  color: gray;
  margin: 0 0 16px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  font-weight: 500;
  opacity: 1;
  border-radius: 4px;
}
.submit-field .input-group-text {
background: #fff !important;
}
.add_job_btn{
padding: 10px 0px 10px 30px;
}
.job_detail_btn {
  background: #33B6CB;
  color: #fff !important;
  padding: 6px 20px !important;
  text-transform: uppercase;
  border: 1px solid #33B6CB;
}
.job_detail_btn:hover {
  background: transparent;
  color: #33B6CB !important;
  border: 1px solid #33B6CB;
}


/*--------------------------------------------------------------
# Applied Job Page CSS
--------------------------------------------------------------*/


.single-slidebar figure {
  text-align: center;
  margin-bottom: 10px;
}
.employer-dashboard-thumb {
  border: 1px solid #efefef;
  width: 140px;
  height: 140px;
  display: inline-block;
  border-radius: 100%;
  padding: 3px;
  margin-bottom: 22px;
}
.employer-dashboard-thumb img {
  border-radius: 100%;
}
.careerfy-fileUpload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 12px;
  border: 1px solid #33B6CB;
  padding: 8px 10px 8px 10px;
}
.clr_b{
    color: #33B6CB;
}
.careerfy-fileUpload span i {
  font-size: 13px;
  margin-right: 3px;
}
.careerfy-fileUpload input.careerfy-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
figcaption h2 {
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

figcaption span{
  display: block;
  font-size: 14px;
  color: #4e565d;
  line-height: 1;
  margin-bottom: 20px;
}


/*--------------------------------------------------------------
# User Profile Page CSS
--------------------------------------------------------------*/

.profile_job_content {
box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
  padding: 10px 0px 10px 0px;
  background-color: #f9f9ff;
}
.profile_job_content .headline {
  display: block;
  padding: 20px 30px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}
.profile_job_content .profile_job_detail {
  display: block;
  padding: 20px 30px;
}
