<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dependent Dropdown in Django</title>
</head>
<body>
<h2>Person Form</h2>

<form method="post" id="personForm" enctype="multipart/form-data" data-district-url="{% url 'ajax_load_district' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_division").change(function () {
        const url = $("#personForm").attr("data-district-url");  // get the url of the `load_cities` view
        const divisionId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'division_id': divisionId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                console.log(data)
               // $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
                

                let html_data = '<option value="">---------</option>';
                data.forEach(function (districts) {
                    html_data += `<option value="${districts.id}">${districts.name}</option>`
                });
                console.log(html_data);
                $("#id_district").html(html_data);

                
            }
        });

    });
</script>

</body>
</html>