{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<body>
  
  <!-- banner section -->
  <div id="ban">
    <div class="primary-overlay">
      <div class="container">
        <div class="row align-items-center justify-content-center d-flex">
          <div class="width text-center">
            <h3 class="text-white ">Are you Looking For a Job?</h3>
            <p class="lead " style="color: #33B6CB">Finding your next job or career more 1000+ availabilities...</p>
            <form action="/search" method="POST" class="mt-5">
              {% csrf_token %}
              <div class="row">
                <!-- row -->
                <div class="col-9 col-sm-10">
                  <div class="form ">
                    <input type="text" class="form-control" name="search_job" placeholder="Please enter job title or keywords"
                      required="">
                  </div>
                </div> <!-- /col -->
                <div class="col-3 col-sm-2">
                  <button type="submit" class="bt">Search</button>
                </div> <!-- /col -->
              </div> <!-- /row -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- section catagory -->

  <section id="catagory " class="py-5">
    <div class="container pt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
          <div class="style text-center">
            <h1 class="display-5" style="font-size:36px; font-weight: 600;">Featured job Catagories</h1>
            <p class=" pb-5" style="font-weight: 350;">Who are in extremely love with eco friendly system.</p>
          </div>
        </div>
      </div>
      <div class="row d-flex ">
{% comment %} 
        {% for category in job_category %}
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
              <div class="design">
                <a href="#">
                  <img src="{{ category.category_image.url }}" class="mt-3" alt="">
                </a>
                <p>{{ category.category_name }}</p>
              </div>
            </div>
        {% endfor %} {% endcomment %}

      </div>
    </div>
  </section>



  <!-- post area -->
  <section class="post-area section-full bg-gray py-4">
    <div class="container">
      <div class="row d-flex justify-content-center py-4">
        <div class="menu-content pb-60 col-lg-10">
          <div class="title text-center">
            <h1 class="mb-10">Jobs Available</h1>
            <p>Who are in extremely love with eco friendly system.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center d-flex">
        <div class="col-lg-8 post-list">
          <ul class="cat-list">
            {% for post in job_time %}
              <li><a href="#">{{ post.job_time }}</a></li>
            {% endfor %} 
          </ul>
{% comment %} 
          {% for post in job_post %}
              <div class="single-post d-flex flex-row">
                <div class="thumb">
                  <img src="{{ post.image.url }}" alt="">
                </div>
                <div class="details">
                  <div class="title d-flex flex-row justify-content-between">
                    <div class="titles">
                      <a href="{% url 'job-detail' pk=post.pk %}">
                        <h4>{{ post.job_title }}</h4>
                      </a>
                      <h6>{{ post.company_name }}</h6>
                    </div>

                  </div>
                  <div class="job-listing-footer">
                    <ul>
                      <li><i class="lnr lnr-map-marker"></i> {{ post.company_address }}</li>
                      <li><i class="lnr lnr-briefcase"></i> {{ post.job_time }}</li>
                      <li><i class="lnr lnr-apartment"></i> {{ post.job_type }}</li>
                      <li><i class="lnr lnr-clock"></i> {{ post.created_at }}</li>
                    </ul>
                  </div>
                </div>
                <div class="job-listing-btns">
                  <ul class="btns">
                    <li><a href="{% url 'apply-job' %}">Apply</a></li>
                  </ul>
                </div>
              </div>
          {% endfor %}
           {% endcomment %}


          {% comment %} <a class="text-capitalize loadmore-btn mx-auto d-block" href="{% url 'all-job' %}">see more jobs</a> {% endcomment %}

        </div>
        <div class="col-lg-4 sidebar mt-5">
        
          <div class="single-slidebar mt-2">
            <h4>Jobs by Location</h4>
            <ul class="cat-list" style="list-style-type: none; margin: 0px; padding: 0px;">
              {% comment %} {% for location in job_post %}
                <li><a class="justify-content-between d-flex" href="category.html">
                    <p>{{ location.job_location }}</p><span>37</span>
                  </a></li>
              {% endfor %}   {% endcomment %}
            </ul>
          </div>

          <div class="single-slidebar">
            <h4>Jobs by Category</h4>
            <ul class="cat-list" style="list-style-type: none; margin: 0px; padding: 0px;">

              {% comment %} {% for category in job_category %}
              <li><a class="justify-content-between d-flex" href="category.html">
                  <p>{{ category.category_name }}</p><span>37</span>
                </a></li>
              {% endfor %}   {% endcomment %}
            </ul>
          </div>

           
        </div>
      </div>
    </div>
  </section>



  <!-- featured cities section -->
  <section id="featuredCities " class="py-5">
    <div class="container ">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
          <div class="style text-center">
            <h1 class="display-5" style="font-size:36px; font-weight: 600;">Featured Cities</h1>
            <p class=" pb-5">Who are in extremely love with eco friendly system.</p>
          </div>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-3 col-sm-12">
          <a class="photo-box" href="#" data-background-image="{% static 'img/dhaka.jpg' %}"
            style="background-image:url('static/img/dhaka.jpg');">
            <div class="photo-box-content">
              <h3>Dhaka</h3>
              <span>379 jobs</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-12">
          <a class="photo-box" href="#" data-background-image="{% static 'img/khulna.jpg' %}"
            style="background-image:url('static/img/khulna.jpg');">
            <div class="photo-box-content">
              <h3>Khulna</h3>
              <span>379 jobs</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-12">
          <a class="photo-box" href="#" data-background-image="{% static 'img/ss.jpg' %}"
            style="background-image:url('static/img/ss.jpg');">
            <div class="photo-box-content">
              <h3>Sylhet</h3>
              <span>379 jobs</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-12">
          <a class="photo-box" href="#" data-background-image="{% static 'img/cc.jpg' %}"
            style="background-image:url('static/img/cc.jpg');">
            <div class="photo-box-content">
              <h3>Chattogram</h3>
              <span>379 jobs</span>
            </div>
          </a>
        </div>
      </div>
  </section>

</body>

{% endblock %}